@model AddQuestionFormModel

@{
	ViewData["Title"] = "Add";
}

@{
	var nav = new NavigationViewModel { Title = ViewData["Title"].ToString() };
}

<partial name="_NavigationBg" model="@nav" />



<div class="section section-basic">
	<div class="container">
		<h1>Add Question</h1>

		<hr />
		<div class="row">
			<div class="col-md-4">
				<form asp-action="Add" asp-controller="Questions">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="GroupId" />
					<div class="form-group">
						<label asp-for="Value" class="control-label"></label>
						<input asp-for="Value" id="Value" name="Value" class="form-control" />
						<span asp-validation-for="Value" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="AnswerFirst" class="control-label"></label>
						<input asp-for="AnswerFirst" class="form-control" />
						<span asp-validation-for="AnswerFirst" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="AnswerSecond" class="control-label"></label>
						<input asp-for="AnswerSecond" class="form-control" />
						<span asp-validation-for="AnswerSecond" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="AnswerThird" class="control-label"></label>
						<input asp-for="AnswerThird" class="form-control" />
						<span asp-validation-for="AnswerThird" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="AnswerFourth" class="control-label"></label>
						<input asp-for="AnswerFourth" class="form-control" />
						<span asp-validation-for="AnswerFourth" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Add" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>

		<div>
			<a class="btn btn-default" asp-controller="Groups" asp-action="Details" asp-route-id="@Model.GroupId">Back to the Group</a>
		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}