@using Quizo.Data.Models.Identity
@using Microsoft.AspNetCore.Identity
@model List<GroupListingServiceModel>
@inject SignInManager<User> signInManager


@{
	ViewData["Title"] = "My Groups";
}

@if (!signInManager.IsSignedIn(User))
{
	<script>
		window.location.href = "/Identity/Account/Login";
	</script>
}

@{
	var nav = new NavigationViewModel {Title = ViewData["Title"].ToString()};
}


<partial name="_NavigationBg" model="@nav" />

<div class="container">

	<partial name="_GroupList" model="@Model" />
</div>
