@page
@using Quizo.Models
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access denied!";
}

@{
	var nav = new NavigationViewModel { Title = ViewData["Title"].ToString() };
}

<partial name="_NavigationBg" model="@nav" />

<header>
	<h1 class="text-danger">Sorry!!!</h1>
	<p class="text-danger">You do not have access to this resource.</p>
</header>
